:root {
    --cyberdrain-primary: #a30000; // AMC Red
    --cyberdrain-primary-rgb: rgb(163, 0, 0); // AMC Red
    --cyberdrain-primary-light: #cc0000; // AMC Red
    --cyberdrain-primary-light-rgb: rgb(204, 0, 0); // AMC Red
    --cyberdrain-secondary: #670000; // AMC Dark Red
    --cyberdrain-secondary-rgb: rgb(103, 0, 0); // AMC Dark Red
    --cui-link-color: #888;
    --cui-link-color-rgb: rgb(136, 136, 136);
    --cui-link-hover-color-rgb: var(--cyberdrain-primary-light-rgb);
    --cui-color-orange: var(--cyberdrain-primary);
    --cui-input-focus-border-color: var(--cyberdrain-secondary);
    --cui-input-focus-bg: #444;
    --cui-input-focus-color: var(--cyberdrain-light);
    --cyberdrain-accent-blue-rgb: var(--cyberdrain-secondary);
    --cyberdrain-accent-blue: var(--cyberdrain-secondary-rgb);
    --cyberdrain-accent-green-rgb: var($cyberdrain-secondary);
    --cyberdrain-accent-green: var($cyberdrain-secondary-rgb);
  }
  
  // fusv-disable
  $primary-dark: rgb(103, 0, 0) !default; // Adjusted to #670000
  $primary-base: rgba(163, 0, 0) !default; // Adjusted to #a30000
  $primary-base-light: rgba(204, 0, 0) !default; // Adjusted to #cc0000
  $primary-50: rgba(
    204,
    0,
    0,
    0.514
  ) !default; // Adjusted to a30000 with 50% opacity
  $primary-25: rgba(
    204,
    0,
    0,
    0.219
  ) !default; // Adjusted to a30000 with 25% opacity
  
  $secondary-dark: rgb(85, 0, 0) !default;
  $secondary-base: rgba(103, 0, 0) !default;
  $secondary-50: rgba(103, 0, 0, 0.479) !default;
  $secondary-25: rgba(103, 0, 0, 0.205) !default;
  
  // If you want to change these variables please also update the _themes.scss file.
  $cyberdrain-primary: #a30000; // AMC Red
  $cyberdrain-primary-rgb: rgb(163, 0, 0); // AMC Red
  $cyberdrain-secondary: #670000; // AMC Dark Red
  $cyberdrain-secondary-rgb: rgb(103, 0, 0); // AMC Dark Red
  $cyberdrain-accent-blue-rgb: var($cyberdrain-secondary);
  $cyberdrain-accent-blue: var($cyberdrain-secondary-rgb);
  $cyberdrain-accent-green-rgb: var($cyberdrain-secondary);
  $cyberdrain-accent-green: var($cyberdrain-secondary-rgb);
  
  [data-theme="cyberdrain"] {
    // Custom AMC Color
    --cui-color-orange: #a30000;
    --cui-header-hover-color: var(--cyberdrain-light);
    --cui-header-active-color: var(--cyberdrain-primary);
    --cui-options-card-border-color: var(--cyberdrain-primary-light);
    --cui-dropdown-link-hover-bg: var(--cyberdrain-primary);
    --cui-input-focus-border-color: var(--cyberdrain-secondary);
    --cui-input-focus-bg: #444;
    --cui-input-focus-color: var(--cyberdrain-light);
  }
  
  [data-theme="impact"] {
    // Custom AMC Color
    --cui-color-orange: #a30000;
    --cui-header-hover-color: var(--cyberdrain-light);
    --cui-header-active-color: var(--cyberdrain-primary);
    --cui-options-card-border-color: var(--cyberdrain-primary-light);
    --cui-dropdown-link-hover-bg: var(--cyberdrain-primary);
    --cui-input-focus-border-color: var(--cyberdrain-secondary);
    --cui-input-focus-bg: #444;
    --cui-input-focus-color: var(--cyberdrain-light);
  }
  
  // Calculate variants with the same lightness as the existing colors
  .sidebar-brand .sidebar-brand-full {
    padding-left: 20px;
    margin: 15px;
    transform: scale(1.75);
  }
  
  .btn-primary {
    background-color: var(--cyberdrain-primary) !important;
  }
  
  .btn-primary {
    --cui-btn-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-bg: var(--cyberdrain-secondary-rgb); /* Matches AMC Dark Red */
    --cui-btn-border-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-hover-color: var(
      --cyberdrain-primary-light
    ); /* Matches AMC Dark Red */
    --cui-btn-hover-bg: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-hover-border-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-focus-shadow-rgb: 210, 108, 3; /* Note: This is not a valid CSS value, assuming it's defined elsewhere */
    --cui-btn-active-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-active-bg: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-active-border-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
    --cui-btn-disabled-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-disabled-bg: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-disabled-border-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
  }
  
  .btn-secondary {
    --cui-btn-color: #777;
    --cui-btn-bg: var(--cyberdrain-secondary-rgb); /* Matches AMC Red */
    --cui-btn-border-color: var(--cyberdrain-primary-rgb); /* Matches AMC Red */
    --cui-btn-hover-color: #999; /* Matches AMC Red */
    --cui-btn-hover-bg: var(
      --cyberdrain-primary-light-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-hover-border-color: var(
      --cyberdrain-primary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-focus-shadow-rgb: 31, 73, 95; /* Note: This is not a valid CSS value, assuming it's defined elsewhere */
    --cui-btn-active-color: var(--cyberdrain-secondary); /* Matches AMC Red */
    --cui-btn-active-bg: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-active-border-color: var(
      --cyberdrain-primary
    ); /* Matches AMC Red */
    --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
    --cui-btn-disabled-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-disabled-bg: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-disabled-border-color: var(
      --cyberdrain-primary
    ); /* Matches AMC Red */
  }
  
  .btn-ghost-primary {
    --cui-btn-color: var(--cyberdrain-primary-rgb); /* Matches AMC Dark Red */
    --cui-btn-hover-bg: var(--cyberdrain-secondary); /* Matches AMC Red */
    --cui-btn-hover-border-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-hover-color: var(--cyberdrain-primary-light); /* Matches AMC Red */
    --cui-btn-active-bg: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-active-border-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-active-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-disabled-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-shadow: rgba(204, 0, 0, 0.5); /* Adjusted to match AMC Red */
  }
  
  .btn-ghost-secondary {
    --cui-btn-color: var(--cyberdrain-secondary-rgb); /* Matches AMC Red */
    --cui-btn-hover-bg: var(--cyberdrain-primary-rgb); /* Matches AMC Dark Red */
    --cui-btn-hover-border-color: var(
      --cyberdrain-secondary-rgb
    ); /* Matches AMC Dark Red */
    --cui-btn-hover-color: var(--cyberdrain-secondary); /* Matches AMC Red */
    --cui-btn-active-bg: var(--cyberdrain-primary-rgb); /* Matches AMC Red */
    --cui-btn-active-border-color: var(
      --cyberdrain-primary-rgb
    ); /* Matches AMC Red */
    --cui-btn-active-color: var(--cyberdrain-primary); /* Matches AMC Red */
    --cui-btn-disabled-color: var(--cyberdrain-primary-rgb); /* Matches AMC Red */
    --cui-btn-shadow: rgba(103, 0, 0, 0.5); /* Adjusted to match AMC Dark Red */
  }

  .form-control:focus {
    color: var(--cui-input-focus-color, var(--cui-body-color));
    background-color: var(--cui-input-focus-bg, var(--cui-body-bg));
    border-color: var(--cui-input-focus-border-color, #fbbf80);
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(104,0,0,.075),0 0 0 .25rem rgba(247,0,0,.25)
  }

  .form-check-input:focus {
    border-color: #b42f2f;
  }
  
  .form-check-input:checked {
    background-color: var(--cyberdrain-primary);
    border-color: var(--cyberdrain-primary-light);
  }
  
  .form-check-input[type="checkbox"]:indeterminate {
    background-color: var(--cyberdrain-primary);
    border-color: var(--cyberdrain-primary-light);
  }

  .sponsors {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease; /* Adding transition for smooth animation */
    margin-left: 150px;
  }

  .sponsors:hover {
    opacity: 1;
  }
